{{ asset_add('scripts.js', 'anomaly.field_type.files::js/dropzone.min.js') }}
{{ asset_add('scripts.js', 'anomaly.field_type.files::js/input.js', ['live']) }}
{{ asset_add('styles.css', 'anomaly.field_type.files::less/input.less', ['live']) }}

<div class="files">

    {% include "anomaly.field_type.files::files" %}
    {% include "anomaly.field_type.files::template" %}

</div>
